body{
margin: 0;
}
.intro{
	background-image: url('../img/bg_intro.png');
	min-height: 737px;

	.navigation{
		display: flex;
		justify-content:space-between;
		padding: 40px 30px 0 30px;
			img{
				padding-top: 16px;
			}
	
		ul{
			display: flex;
			flex-direction: row;
			justify-content:space-between;
		}
		li{
			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content:space-between;
			:hover{
				border:1px solid white;
				border-radius: 25px;
				
    			text-align: -webkit-center;
			}
		
		a {
			text-decoration: none;
			color:#ffffff;
			// :hover{
			// 	text-decoration: underline;
			// 	border:1px solid white;
			// 	border-radius: 25px;
			// }
		
			

				}
			

	}
}


}
.navigation_menu li{
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Open Sans', sans-serif;
}
.project{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	text-align: center;
	padding-top: 10%;
	
	h1{
		font-weight: 300;
		font-size: 35px;
		text-transform: uppercase;
		letter-spacing: 5px;
		
	}
	p{
		line-height: 2em;
		letter-spacing: 1px;
	}
}
.project_scroll {
	position: relative;
}
button{
	    background-color: transparent;
    	border: none;
    	outline: none;
    	position: absolute;
		right:    0;
		bottom:   0;
}
.portfolio{
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	color: gray;
	padding-top: 2%;
	background-color: rgb(243,243,243);
	h3{
		font-weight: 300;
		font-size: 25px;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	p{
		line-height: 2em;
		letter-spacing: 1px;
	}
}

.portfolio_filter a { 
    margin-right: 10px; 
    color:#666;
    text-decoration:none;

}
.portfolio_filter a:hover{
	text-decoration: underline;
	text-decoration-color: rgb(98,207,185);
}

 
.portfolio_filter a.current { 
    font-weight:bold;
}
 
img {
    margin:10px;
}
 
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.contacts{
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	color: gray;
	text-align: center;
	padding-top: 2%;
	h3{
		font-weight: 300;
		font-size: 25px;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	p{
		line-height: 2em;
		letter-spacing: 1px;
	}
}
.footer{
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	color: gray;
	text-align: center;
	margin-top: 40px;
	p{
			line-height: 2em;
		letter-spacing: 1px;

	}

	}
	.socials{
		margin-bottom: 5%;
	}
	
.team{
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	color: gray;
	text-align: center;
	padding-top: 2%;
	h3{
		font-weight: 300;
		font-size: 25px;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	p{
		line-height: 2em;
		letter-spacing: 1px;
	}
}
.wrap_items{
	display: -webkit-inline-box;
	
	h4,h5{
		text-align: right;
	
	}


}
.wrap_pic{
	width:500px;
}
.wrap_description{
	    width: 500px;
	    text-align: right;
}